*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#fafafa;
  color: #111111;
  font-family: 'Inter var', sans-serif;
}
.container{
  max-width: 960px;
  margin: auto;
  padding: 20px;
}
/*--⬆---BODY & CONTAINER------------*/

/*--⬇---NAVBAR------------*/
header{
  top: 0;
  height: 62px;
  padding: 20px 0 20px 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img{
  height: 30px;
  padding-right: 8px;
}
.navbar ul{
  display: flex;
}
.navbar ul a{
  text-decoration: none;
  display: flex;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  color: #282A2F;
  margin: 0 0 0 24px;
  padding-bottom: 4px;
  border-bottom: 2px solid #fafafa;
}
.navbar ul a:hover{
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
}
/*--⬆---NAVBAR------------*/

/*--⬇---Titel Bar------------*/
.titlebar{
  border-bottom: 1px solid #d2d6dc;
  padding: 50px 0;
}
.titlebar h1{
  font-size: 2.5em;
  color: #282A2F
}
.titlebar p{
  color: #9fa6b2;
  padding-top: 16px;
}
/*--⬆---Title Bar------------*/

/*--⬇---PROJECT GRID------------*/
.project-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 24px;
}
 .project-card{
   width: 100%;
   background-color: #fff;
   background-image: cover;
   border-radius: 8px;
   border: 1px solid #e2e2e2;
   box-shadow:
  0 0.3px 0.4px -10px rgba(0, 0, 0, 0.034),
  0 0.7px 1px -10px rgba(0, 0, 0, 0.048),
  0 1.3px 1.9px -10px rgba(0, 0, 0, 0.06),
  0 2.2px 3.4px -10px rgba(0, 0, 0, 0.072),
  0 4.2px 6.3px -10px rgba(0, 0, 0, 0.086),
  0 10px 15px -10px rgba(0, 0, 0, 0.12);
 }
 .project-grid a{
  text-decoration: none;
}
.project-img{
  width: 100%;
}
.project-img img{
  width: 100%;
}
.project-text{
  margin: 18px;
  height: 170px;
}
.catagory{
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
  color: dodgerblue;
}
.card-title{
  font-size: 20px;
  padding-bottom: 8px;
  color: #111111;
}
.card-p{
  height: 70px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2em;
  color: rgb(13, 66, 119);
}
.project-notes{
  padding-top: 18px;
}
.footname{
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 4px;
  color: #000;
}
.footdate{
  font-size: 12px;
  font-weight: 500;
  color: #9fa6b2;
}
/*--⬆---PROJECT GRID------------*/



/*--FOOTER--*/
.footer-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.footer-text h3{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color:#9fa6b2;
}
.socialicons ul{
display: flex;
}
.socialicons li{
  list-style: none;
  justify-content: center;
  margin-left: 8px;
  padding: 12px;
}
.socialicons i{
  color: #a1b0b9;
  position: relative;
  font-size: 22px;
}
.socialicons i:hover{
 color: dodgerblue;
}










/*--⬇---MEDIA QUERY--920 & 620-------*/
@media (max-width: 859px){
  .container{
    max-width: 600px;
  }
  .herotext-pic img{
    display: none;
  }
 
}






@media (max-width: 620px){
  
  .hero-text h1{
    font-size: 24px;
  } 
  .container{
    max-width: 420px;
  }
  .footer-text{
    display: block;
  }
  .socialicons li{
    margin: 16px 28px 0px 0px;
    padding: 0px;
  }
  
}