*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F6F9FB;
  color: #111111;
  font-family: 'Inter var', sans-serif;
  font-size: 14px;
}
.container{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/*-----BODY & CONTAINER---⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆---------DONE*/



/*-----NAVBAR---⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇---------DONE*/
header{
  position: sticky;
  top: 0;
  height: 60px;
  background-color:#FFF ;
  border-bottom: 1px solid #e2e2e2;
  box-shadow:
  0 0.6px 3.8px rgba(106, 127, 161, 0.086);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar h3{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  color:#181b20;
}
.navbar span{
  color: #b1c0ca;
}
.links ul{
  list-style: none;
  display: flex;
}
.links a{
  width: 50px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #b1c0ca;
  text-decoration: none;
}
.links a:hover{
  color: #111111;
}
.links .active a{
  color: #111111;
}
/*---NAVBAR---⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆---NAVBAR------DONE*/

/*--⬇---SHOWCASE------------*/
.herotext{
  padding-top: 40px;
  padding-bottom: 20px ;
}
.herotext h1{
  font-weight: 500;
  font-size: 30px;
}
.homecontent{
  display: flex;
}
.hometext h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5rem;
}
.hometext p{
  color: #7293aa;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}
.hometext a{
  text-decoration: none;
  color: dodgerblue;
}
.hometext a:hover{
  border-bottom: 1px solid dodgerblue;
}
/*--⬆---SHOWCASE------------*/

/*--⬇---SKILLS------------*/
.skillssection{
  display: flex;
  margin: 30px 0;
  padding-bottom: 20px;
}
.skill-items{
  background-color: #fff;
  margin: 8px;
  padding: 16px;
  border-radius: 4px;
  box-shadow:
  0 0.6px 3.8px rgba(106, 127, 161, 0.086),
  0 0.6px 3.8px rgba(106, 127, 161, 0.086);
}
.skill-title{
  display: flex;
  justify-content: space-between;
}
.skill-items img{
  width: 38px;
}
.skill-items h3{
  padding: 8px 0;
  font-size: 18px;
  font-weight: 400;
}
.skill-items p{
  color: #7293aa;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.tools ul{
  justify-content: center;
  list-style: none;
  display: flex;
}
.tools a{
  text-decoration: none;
  color: dodgerblue;
  font-size: 12px;
  font-weight: 300;
  margin: 12px;
  
}
.tools a:hover{
  border-bottom: 1px solid dodgerblue;
}
/*--⬆---SKILLS------------*/

/*--⬇---PORT-PROJECT-----------*/
.port-content{
  display: flex;
}
.port-project{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.port-text h1{
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 30px;
}
.port-text h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5rem;
}
.port-text p{
  color: #7293aa;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 300;
  padding-right: 30px;
  padding-bottom: 10px;
}
.pro-cards a{
  text-decoration: none;
}



.punch-card{
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 20px 20px;
  background-image: url(/images/punch-card.jpg);
  background-size: cover;
}
.punch-overlay{
  background: rgba(0, 170, 148, .8);
}
.punch-card img{
  margin: 8px 0;
  height: 22px;
}
.punch-card p{ 
  font-size: 16px;
  font-weight: 300;
  color: rgb(176, 210, 255);
  padding: 8px 0;
}
.punch-card ul{
  display: flex;
  list-style: none;
}
.punch-card li{
  color: #0c305a;
  padding-right: 8px;
}

.yearbook-card{
  margin-bottom: 16px;
  width: 340px;
  border-radius: 4px;
  padding: 20px 20px;
  width: 340px;
  background-image: url(/images/yearbooks-card.jpg);
  background-size: cover;
  overflow: hidden;
}
.yearbook-card img{
  height: 18px;
  margin: 8px 0;
}
.yearbook-card p{ 
  font-size: 16px;
  font-weight: 300;
  color: #a1fff2;
  padding: 8px 0;
}
.yearbook-card ul{
  display: flex;
  list-style: none;
}
.yearbook-card li{
  color: #007969;
  padding-right: 8px;
}

.inzazu-card{
  margin-bottom: 16px;
  width: 340px;
  border-radius: 4px;
  padding: 20px 20px;
  width: 340px;
  background-image: url(/images/inzazu-card.jpg);
  background-size: cover;
  background-position: center, center;
  overflow: hidden;
}
.inzazu-card img{
  margin: 8px 0;
  height: 20px;
}
.inzazu-card p{ 
  font-size: 16px;
  font-weight: 300;
  color: #a6fab7;
  padding: 8px 0;
}
.inzazu-card ul{
  display: flex;
  list-style: none;
}
.inzazu-card li{
  color:#056318 ;
  padding-right: 8px;
}




/*--⬆---PORT-PROJECT-----------*/




/*--FOOTER--*/
.footer{
  height: 200px;
  justify-content: center;
}
.footer-text{
  display: flex;
  justify-content: center;
}
.footer-text h1{
  font-size: 14px;
  font-weight: 300;
  color: #8da0ac;
  padding-top: 100px;
}




/*--⬇---MEDIA QUERY--920 & 620-------*/
@media (max-width: 920px){
  .skillssection{
    display: block;
    margin: auto;
    width: 400px;
  }
  .skill-items{
    margin: 26px;
  }
  .port-content{
    display: block;
  }
  .pro-cards{
    padding-top: 30px;
    margin: auto;
    max-width: 380px;
  }

}

@media (max-width: 620px){
  
}