*{
  margin: 0;
  padding: 0;
}
body{
  background-color:rgb(250, 250, 250);
  color: #111111;
  font-family: 'Inter var', sans-serif;
}
.container{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/*--⬆---BODY & CONTAINER------------*/

/*--⬇---NAVBAR------------*/
header{
  top: 0;
  height: 60px;
  background-color: rgb(250, 250, 250);
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar h3{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  color:#111111;
}
.navbar span{
  color: #b1c0ca;
}
.links a:hover{
  color: #111111;
}
.links .active a{
  color: #111111;
}
/*--⬆---NAVBAR------------*/

/*--⬇---SHOWCASE------------*/
.showcasetwo{
  background-color: #E6EBEE;
  padding-bottom: 20px;
  padding-top: 4em;
}
.herotext{
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.herotext span{
  color: dodgerblue;
}
.herotext-pic img{
  height: 80px;
}
.herotext h1{
  font-weight: 500;
  font-size: 30px;
}
.socialicons{
  padding-bottom: 20px;
}
.socialicons ul{
display: flex;

}
.socialicons li{
  list-style: none;
  justify-content: center;
  margin-right: 30px;
  padding:12px;
  border-radius: 23px;
  color: dodgerblue;
}
.socialicons i{
  position: relative;
  color: dodgerblue;
  font-size: 24px;
}
.socialicons li:hover{
  background-color: #CBDDE9;
}
.homecontent{
  display: flex;
}
.hometext{
  display: flex;
}
.hometext-title{
  display: block;
}
.hometext h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5rem;
}
.hometext img{
  padding-right: 12px;
  height: 78px;
}
.hometext p{
  color: #7293aa;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 3em;
}
/*--⬆---SHOWCASE------------*/

/*--⬇---PROJECTS------------*/
.uxdesign{
  margin-top: 4em;
}

.project-cards{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3em;
}

.card{
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dee1e4;
  box-shadow:
  0 6px 10px -1px rgb(177, 201, 214, 0.2);
}
.card:hover{
  border: 1px solid #d3d7da;
  box-shadow:
  0 6px 10px -1px rgb(177, 201, 214, 0.7);
}
.card img{
  width: 100%;
  border-radius: 2px;
  padding-bottom: 8px;
}
.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title h2{
  margin: 0 8px;
  font-size: 20px;
  font-weight: 400;
}
.card-title h4{
  margin: 8px;
  font-size: 20px;
  font-weight: 400;
}
.p-btn{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.card p{
  margin: 0 8px;
  color: #7293aa;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  padding: 8px 0;
}
.viewbtn{
  display: block;
  padding-bottom: 14px;
}
.viewbtn a{
  text-decoration: none;
}
.viewbtn button{
  justify-content: center;
  color: dodgerblue;
  background-color: #E6EBEE;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  
}
.viewbtn button:hover{
  color: #fff;
  background-color: dodgerblue;
}



/*--⬆---PROJECTS------------*/

/*--FOOTER--*/
.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.footer-text h1{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  color:#181b20;
}
.footer-text span{
  color: #b1c0ca;
}










/*--⬇---MEDIA QUERY--920 & 620-------*/
@media (max-width: 920px){
  .container{
    max-width: 600px;
  }
  .project-cards{
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  
 
}






@media (max-width: 620px){
  
  .herotext h1{
    font-size: 24px;
  } .herotext-pic img{
    height: 50px;
  }
  .hometext p{
    font-size: 12px;
  }
  .socialicons i{
    font-size: 20px;
  }
  .socialicons ul{
    justify-content: center;
    
    }
  .container{
    max-width: 480px;
  }
 
  .project-cards{
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  
}