*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F6F9FB;
  color: #111111;
  font-family: 'Inter var', sans-serif;
  height: 1300px;
}
.container{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/*--⬆---BODY & CONTAINER------------*/

/*--⬇---NAVBAR------------*/
header{
  position: sticky;
  top: 0;
  height: 60px;
  background-color:#FFF ;
  border-bottom: 1px solid #e2e2e2;
  box-shadow:
  0 0.6px 3.8px rgba(106, 127, 161, 0.086);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar h3{
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  color:#181b20;
}
.navbar span{
  color: #b1c0ca;
}
.links ul{
  list-style: none;
  display: flex;
}
.links a{
  width: 50px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #b1c0ca;
  text-decoration: none;
}
.links a:hover{
  color: #111111;
}
.links .active a{
  color: #111111;
}
/*--⬆---NAVBAR------------*/

/*--⬇---SHOWCASE------------*/
.herotext{
  padding-top: 80px;
  padding-bottom: 20px ;
}
.herotext h1{
  font-weight: 500;
  font-size: 30px;
}
.socialicons{
  padding-bottom: 20px;
}
.socialicons ul{
display: flex;
}
.socialicons li{
  list-style: none;
  justify-content: center;
  margin-right: 18px;
  padding:12px;
  font-size: 12px;
  border-radius: 24px;
  color: dodgerblue;
}
.socialicons i{
  position: relative;
  color: dodgerblue;
  font-size: 20px;
}
.socialicons li:hover{
  background-color: #e1f1fa;
}
.homecontent{
  display: flex;
}
.hometext h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5rem;
}
.hometext p{
  color: #7293aa;
  line-height: 1.2;
  font-weight: 300;
  padding-bottom: 10px;
}
.hometext a{
  text-decoration: none;
  color: dodgerblue;
}
.hometext a:hover{
  border-bottom: 1px solid dodgerblue;
}
.hometext img{
  display: none;
}
img{
  width: 360px;
}
/*--⬆---SHOWCASE------------*/


















/*--⬇---MEDIA QUERY--920 & 620-------*/
@media (max-width: 920px){
  .herotext{
    text-align: center;
  }
  .socialicons ul{
    justify-content: center;
  }
  .homecontent{
    display: block;
    align-items: center;
  }
  .hometext{
    text-align: center;
  }
  .hometext img{
    display: initial;
  }
  img{
    margin-top: 40px;
    display: none;
  }
}

@media (max-width: 620px){
  
}